<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">分享</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>我们的微信公众号</a></h4>
                    <p>
						<span>关注彩虹飞猪公微，获取更多家庭式英语启蒙资讯！ </span>
					</p>
                    <img src="../assets/images/official-account-qr.jpg" style="width: 200px"/>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>2018年06月27日分享预告</a></h4>
                    <p>
                        <span>我们将于2018年6月27日，在千聊平台进行讲座，下面是分享预告，尽请期待！</span>
                    <!--<div>-->
                        <!--<a href="https://xumeng.me" >点击跳转a</a>-->

                        <!--<a href="https://xumeng.me" >点击跳转b</a>-->
                    <!--</div>-->
                    </p>
                    <img src="../assets/images/20180627-preview.png " style="width: 200px"/>
                </div>
            </div>


        </div>
    </div>
</section>